.app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: white;
}

body::-webkit-scrollbar {
  overflow-y: auto;
  background-color: white;
}

/* Add any additional styling as needed */

@media (max-width: 40vw) {
  .app {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 2fr; /* Change 2 to 1 to have a single column in the grid */
  }

  .nav-bar-app {
    order: 2; /* Move the navigation bar below the content in the grid */
  }

  .routing-container {
    order: 1; /* Move the content above the navigation bar in the grid */
  }
}
